@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --dark-clr: #222;
  --font-lg: clamp(1rem,1.5rem + 0.8vw, 3rem);
  --font-md: 1.1rem;
}

body{
  background: var(--dark-clr);
  padding-block: min(15rem, 19vh);
  padding-inline: min(30rem, 10vw);
  font-family: "Outfit", sans-serif;
}

.block{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.p__title, .p__description {
  font-weight: bold;
  text-align: center;
}

.p__title{ 
  background-image: linear-gradient(to right, red, blue); 
 -webkit-background-clip: text;
  background-clip: text;
  font-size: var(--font-lg);
  font-weight: bold;
  text-align: center;
  color: transparent;
  
}

.p__description{
  color: #fff;
  font-size: var(--font-md);
}

.p__error-msg{
  color: rgb(185, 10, 10);
  /* display: none; */
  
}
.form{
  width: min(100%, 35rem);
  background: #282828;
  border-radius: 30px;
  padding-block: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form__div{
  display: flex;
  flex-direction: column;
  
}

.form__label{
  color: #fff;
  font-weight: bold;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: var(--font-md);
}

.form__input{
  border-radius: 30px;
  height: 35px;
  padding: 10px;
  background: transparent;
  font-family: "Outfit", sans-serif;
  color:white
}

.form__input:focus{
  outline: none;
}

.form__input--primary{
  border: 2px solid red;
}

.form__input--secondary{
  border: 2px solid #6A6A6A;
}

.form__btn{
  border-radius: 30px;
  min-height: 30px;
  background: transparent;
  border: 2px solid red;
  color: white;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  margin-inline: min(4rem, 14vh); 
  padding-block: 10px;
}

.form__btn:hover{
  cursor: pointer;
  animation: borderAnimate 4s linear infinite;
}

@keyframes borderAnimate {
  50%{
    filter: hue-rotate(-180deg);
  }
}

.hidden {
  display: none;
}
